<style>
    .row .distance {
        padding-top: 20px;
    }
    
</style>
<div class="row">
<div id="content" class="col-lg-12">
<div class="row">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-list-alt"></i>候诊列表
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ui-map-table options="options">
            <table class="table table-striped table-bordered table-hover table-handler">
                <thead>
                <tr>
                    <th>
                        <div class="row clearfix">
                            <div class="col-md-3 column ng-binding">编号</div>
                            <div class="col-md-3 column ng-binding">科室</div>
                            <div class="col-md-3 column"> 会员名称</div>
                            <div class="col-md-3 column"> 序号</div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in patientQueues">
                        <td>
                            <a html="#" class="" ng-click="taskClick(item)">
                                <div class="row clearfix">
                                    <div class="col-md-3 column ng-binding">{{item.SerialNumber}}</div>
                                    <div class="col-md-3 column ng-binding"> {{item.DeptName}}</div>
                                    <div class="col-md-3 column ng-binding"> {{item.ResidentName}}</div>
                                    <div class="col-md-3 column ng-binding"> {{item.CheckNumber}}</div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ui-map-table>
    </div>

</div>
    <div class="row distance">
        <div class="col-md-12">
            <div class="col-md-3"></div><div class="col-md-3"></div><div class="col-md-3"></div>
            <div class="col-md-3" align="center">
                <span class="input-group-btn">
                    <a class="btn blue" ng-click="getNextPatient()"><i class="glyphicon glyphicon-arrow-down"></i>下一位</a>
                </span>
            </div>
        </div>

    </div>
    <div class="row distance">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="glyphicon glyphicon-user"></i>服务中人员
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <table options="options" class="table table-striped table-bordered table-hover table-handler">
                    <thead>
                        <tr>
                            <th>
                                <div class="row clearfix">
                                    <div class="col-md-3 column ng-binding">编号</div>
                                    <div class="col-md-3 column ng-binding">科室</div>
                                    <div class="col-md-3 column"> 会员名称</div>
                                    <div class="col-md-3 column"> 操作</div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in inServicingPatientList">
                            <td>
                                <a html="#" class="" ng-click="taskClick(item)">
                                    <div class="row clearfix">
                                        <div class="col-md-3 column ng-binding">{{item.SerialNumber}}</div>
                                        <div class="col-md-3 column ng-binding"> {{item.DeptName}}</div>
                                        <div class="col-md-3 column ng-binding"> {{item.ResidentName}}</div>
                                        <div class="col-md-3 column ng-binding">
                                            <div class="row col-md-12">
                                                <div class="col-md-6 column">
                                                    <span class="input-group-btn">
                                                        <a class="btn blue" ng-click="setPatientExpired(item)"><i class="glyphicon glyphicon-pause"></i>过号</a>
                                                    </span>
                                                </div>
                                                <div class="col-md-6 column">
                                                    <span class="input-group-btn">
                                                        <a class="btn blue" ng-click="setPatientFinish(item)"><i class="glyphicon glyphicon-ok"></i>完成</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>

    </div>
</div>
</div>