<style>
    #fullScreen{
        background: #2a72dd;
        color: #FFF;
        margin: -25px -20px -10px -20px;
    }
    #fullScreen .mt15{
        padding-top: 15px;
    }
    .fullScreen{
        margin-top: 15px;
    }
    .fullScreen .datacon .datacon-tab li div{
        font-size: 36px;
    }
    .fullScreen .datacon .datacon-room{
        font-size: 36px;
    }
    .datacon{
        padding:0 15px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .fullScreen .datacon .hideFullScreen{
        display: none;
    }
    .fullScreen .datacon .selectRoomName{
        font-size: 26px;
    }
    .datacon-select{

    }
    .datacon .selectRoomName{
        font-size: 26px;
        color: #092b6a;
    }
    .datacon-select select {
        background-color:rgba(34,90,176,.5) ;
        width: 100%;
        padding: 5px;
        font-size: 26px;
        border: none;
        border-radius: 5px;
        height: 50px;
        color: #092b6a;
        -webkit-appearance: none; /*for chrome*/
    }
    .datacon .datacon-tab{
        padding:0;
        margin: 0;
        /*border-top: 1px solid #ddd;*/
        /*border-left: 1px solid #ddd;*/
    }
    .datacon .datacon-tab li{
        display: table;
        width: 100%;
    }
    .datacon .datacon-tab li div{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        float: left;
        /*border-right: 1px solid #092b6a;*/
        border-bottom: 1px solid #092b6a;
        padding: 10px 0;
        background: #0a3481;
        color: #FFF;
        font-size: 22px;
    }
    .datacon .datacon-tab li div.datacon-idx{
        width: 33%;
    }
    .datacon .datacon-tab li div.datacon-name{
        width: 34%;
    }
    .datacon .datacon-tab li div.datacon-num{
        width: 33%;
    }
    .datacon .datacon-tab li div.datacon-curroom{
        width: 20%;
    }
    .datacon .datacon-tab li div.datacon-cursts{
        width: 15%;
    }
    .datacon .datacon-tab li div.datacon-nextroom{
        width: 20%;
    }
    /*标题*/
    .datacon .datacon-call{
        position: relative;
        margin:20px 15px;
        padding: 10px 15px;
        border-radius: 24px;
        line-height: 1.4128;
        font-size: 28px;
        background:-moz-linear-gradient(top, #5bb8ff, #258dfd);
        background:-webkit-gradient(linear, 0 0, 0 bottom, from(#5bb8ff), to(#258dfd));
        background:-o-linear-gradient(top, #5bb8ff, #258dfd);
    }
    .datacon .datacon-call i{
        font-size: 26px;
        margin: 0 15px;
    }
    .datacon .datacon-room{
        font-size: 30px;
        color: #FFF;
        padding: 5px 0 10px;
    }
    .datacon .datacon-tab-tit li div{
        background: #000;
        color: #FFF;
        font-weight: bold;
        background:-moz-linear-gradient(top, #3c3e41, #121213);
        background:-webkit-gradient(linear, 0 0, 0 bottom, from(#3c3e41), to(#121213));
        background:-o-linear-gradient(top, #3c3e41, #121213);
    }
    .datacon .datacon-tab-tit li div:nth-child(2){
        border-right: 1px solid #092b6a;
        border-left: 1px solid #092b6a;
    }
    .datacon .datacon-tab-tit li div:nth-child(1){
        border-right: none;
        border-top-left-radius: 7px;
    }
    .datacon .datacon-tab-tit li div:nth-child(3){
        border-top-right-radius: 7px;
    }

    /*前3*/
    .datacon .datacon-tab-top3{
        border-bottom: 2px solid #759134;
    }
    .datacon .datacon-tab-top3 li:nth-child(odd) div{
        background: #012565;
    }
    .datacon-tab-top3 li:first-child div{
        background: #012565 !important;
        color: #e8ff06;
        font-weight: bold;
    }
    .datacon .datacon-tab-top3 li div:nth-child(1),.datacon .datacon-tab-con li div:nth-child(1){
        border-right: none;
    }
    .datacon .datacon-tab-top3 li div:nth-child(2),.datacon .datacon-tab-con li div:nth-child(2){
        border-right: 1px solid #092b6a;
        border-left: 1px solid #092b6a;
    }
    /*切换内容*/
    .datacon .datacon-tab-con li.odd div{
        background: #012565;
    }
    .datacon .datacon-tab-con li.last div:nth-child(1){
        border-right: none;
        border-bottom-left-radius: 7px;
    }
    .datacon .datacon-tab-con li.last div:nth-child(3){
        border-bottom-right-radius: 7px;
    }
</style>
<link rel="stylesheet" href="/Scripts/swiper/swiper-3.4.2.min.css">
<script src="/Scripts/jQuery.fullScreen.js"></script>
<script src="/Scripts/swiper/swiper-3.4.2.jquery.min.js"></script>
<script src="/Scripts/swiper/lodash.min.js"></script>
<script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
<div id="fullScreen">
    <div class="datacon mt15">
        <form class="form-horizontal" name="myForm" role="form" >
            <div class="clearfix">
                <div class="col-md-9 hideFullScreen">
                    <div class="form-group">
                        <label class="pull-left selectRoomName" style="padding-left: 15px;margin-top: 7px;">科室</label>
                        <div class="col-sm-10 ">
                            <div class="datacon-select">
                                <select class="form-control" id="selectRoom" ng-model="roomName" ng-change="changeRoom(roomName)" ng-options="item.id as item.name for item in roomData">

                                </select>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 pull-right">
                    <a href="#" class="btn pull-right" id="FullScreenBtn" ng-click="checkFullScreen('fullScreen')">全屏</a>
                    <!--<a href="#" class="btn pull-right">流程图</a>-->
                </div>
            </div>
        </form>
    </div>
    <div class="datacon">
        <div class="datacon-call">
            <i class="glyphicon glyphicon-volume-up"></i>
            <span id="datacon-call-text">等待中···</span>
        </div>
    </div>

    <div class="datacon">
        <div class="col-md-4" ng-repeat="roomItem in roomDataDetail">
            <div class="text-center datacon-room">{{roomItem.name}}</div>
            <ul class="datacon-tab datacon-tab-tit">
                <li>
                    <div class="datacon-idx">序号</div>
                    <div class="datacon-name">姓名</div>
                    <div class="datacon-num">编号</div>
                    <!--<div class="datacon-curroom">当前所在科室</div>
                    <div class="datacon-cursts">当前状态</div>
                    <div class="datacon-nextroom">下一前往科室</div>-->
                </li>
            </ul>
            <ul class="datacon-tab datacon-tab-top3" swiper-top3 time-out="3000" dept-id="{{roomItem.id}}"></ul>
            <div class="swiper-container" swiper url="" is-full-screen="{{roomItem.isFullScreen}}" time-out="5000" list-count="7" dept-id="{{roomItem.id}}"></div>
        </div>
        <!--<div class="col-md-4">
            <div class="text-center datacon-room">经络理疗科</div>
            <ul class="datacon-tab datacon-tab-tit">
                <li>
                    <div class="datacon-idx">序号</div>
                    <div class="datacon-name">姓名</div>
                    <div class="datacon-num">编号</div>
                    &lt;!&ndash;<div class="datacon-curroom">当前所在科室</div>
                    <div class="datacon-cursts">当前状态</div>
                    <div class="datacon-nextroom">下一前往科室</div>&ndash;&gt;
                </li>
            </ul>
            <ul class="datacon-tab datacon-tab-top3" swiper-top3 time-out="3000" dept-id="2"></ul>
            <div class="swiper-container" swiper url="" time-out="5000" list-count="7" dept-id="2"></div>
        </div>
        <div class="col-md-4">
            <div class="text-center datacon-room">网络门诊</div>
            <ul class="datacon-tab datacon-tab-tit">
                <li>
                    <div class="datacon-idx">序号</div>
                    <div class="datacon-name">姓名</div>
                    <div class="datacon-num">编号</div>
                    &lt;!&ndash;<div class="datacon-curroom">当前所在科室</div>
                    <div class="datacon-cursts">当前状态</div>
                    <div class="datacon-nextroom">下一前往科室</div>&ndash;&gt;
                </li>
            </ul>
            <ul class="datacon-tab datacon-tab-top3" swiper-top3 time-out="3000" dept-id="1"></ul>
            <div class="swiper-container" swiper url="" time-out="5000" list-count="7" dept-id="1"></div>
        </div>-->

    </div>

</div>

<audio id="audioCall" src=""></audio>

<script>
    $(window).resize(function () {
        $('#fullScreen').css({'minHeight':$('.page-content').css('minHeight')});
    })
    $(function () {
        $('#fullScreen').css({'minHeight':$('.page-content').css('minHeight')});
    });

</script>


