.navigationbody {
   background-size:100% 100%; 
   background-image:url("../../Images/home_bg.png");
   /*background-color: #0072c6;*/
   overflow:hidden;
}

     .navigationBox {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1200px;
            height: 630px;
            color: #ffffff;
        }
.navigationDiv{
    padding:80px;
}

 .hover{}
 .hv{display:none }
    