<?xml version="1.0" encoding="utf-8"?>
<config>
  <!-- Requirements -->
  <test_pdf2swf>true</test_pdf2swf>
  <test_pdf2json>false</test_pdf2json>
  <!-- General Settings -->
  <allowcache>true</allowcache>
  <splitmode>true</splitmode>
  <path.pdf>D:\FlexPaper\PDF\</path.pdf>
  <path.doc>D:\FlexPaper\Doc\</path.doc>
  <path.swf>D:\FlexPaper\Working\</path.swf>
  <!-- External Commands -->
  <cmd.conversion.singledoc>"C:\Program Files (x86)\SWFTools\pdf2swf.exe" "{path.pdf}{pdffile}" -o "{path.swf}{pdffile}.swf" -f -T 9 -t -s storeallcharacters -s linknameurl</cmd.conversion.singledoc>
  <cmd.conversion.splitpages>"C:\Program Files (x86)\SWFTools\pdf2swf.exe" "{path.pdf}{pdffile}" -o "{path.swf}{pdffile}%.swf" -f -T 9 -t -s storeallcharacters -s linknameurl</cmd.conversion.splitpages>
  <cmd.searching.extracttext>"C:\Program Files (x86)\SWFTools\swfstrings.exe" "{path.swf}{swffile}"</cmd.searching.extracttext>
  <cmd.conversion.renderpage>
  </cmd.conversion.renderpage>
  <cmd.conversion.rendersplitpage>
  </cmd.conversion.rendersplitpage>
  <cmd.conversion.jsonfile>
  </cmd.conversion.jsonfile>
  <pdf2swf>True</pdf2swf>
</config>