<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <typeAliases>
    <typeAlias alias="IUnitOfWork" type="KMHC.SLTC.Repository.Base.IUnitOfWork, KMHC.SLTC.Repository" />
    <typeAlias alias="UnitOfWork" type="KMHC.SLTC.Repository.Base.UnitOfWork, KMHC.SLTC.Repository" />
    <typeAlias alias="IAuthenticationService" type="KMHC.Infrastructure.Security.IAuthenticationService, KMHC.Infrastructure" />
    <typeAlias alias="FormsAuthenticationService" type="KMHC.Infrastructure.Security.Providers.FormsAuthenticationService, KMHC.Infrastructure" />
    <typeAlias alias="IActivityNewService" type="KMHC.SLTC.Business.Interface.IActivityNewService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ActivityNewService" type="KMHC.SLTC.Business.Implement.ActivityNewService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IActivityService" type="KMHC.SLTC.Business.Interface.IActivityService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ActivityService" type="KMHC.SLTC.Business.Implement.ActivityService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IBillService" type="KMHC.SLTC.Business.Interface.IBillService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="BillService" type="KMHC.SLTC.Business.Implement.BillService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResidentAddressService" type="KMHC.SLTC.Business.Interface.IResidentAddressService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResidentAddressService" type="KMHC.SLTC.Business.Implement.ResidentAddressService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IChargeItemService" type="KMHC.SLTC.Business.Interface.IChargeItemService, KMHC.SLTC.Business.Interface" />    
    <typeAlias alias="ChargeItemService" type="KMHC.SLTC.Business.Implement.ChargeItemService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IChartService" type="KMHC.SLTC.Business.Interface.IChartService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ChartService" type="KMHC.SLTC.Business.Implement.ChartService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ICodeRuleService" type="KMHC.SLTC.Business.Interface.ICodeRuleService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CodeRuleService" type="KMHC.SLTC.Business.Implement.CodeRuleService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ICommodityTypeService" type="KMHC.SLTC.Business.Interface.ICommodityTypeService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CommodityTypeService" type="KMHC.SLTC.Business.Implement.CommodityTypeService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ICommodityItemService" type="KMHC.SLTC.Business.Interface.ICommodityItemService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CommodityItemService" type="KMHC.SLTC.Business.Implement.CommodityItemService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IContractService" type="KMHC.SLTC.Business.Interface.IContractService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ContractService" type="KMHC.SLTC.Business.Implement.ContractService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDeviceService" type="KMHC.SLTC.Business.Interface.IDeviceService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DeviceService" type="KMHC.SLTC.Business.Implement.DeviceService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ICallInfoService" type="KMHC.SLTC.Business.Interface.ICallInfoService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="CallInfoService" type="KMHC.SLTC.Business.Implement.CallInfoService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IHabitService" type="KMHC.SLTC.Business.Interface.IHabitService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="HabitService" type="KMHC.SLTC.Business.Implement.HabitService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IFamilyService" type="KMHC.SLTC.Business.Interface.IFamilyService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="FamilyService" type="KMHC.SLTC.Business.Implement.FamilyService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IPriorityRemarkService" type="KMHC.SLTC.Business.Interface.IPriorityRemarkService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PriorityRemarkService" type="KMHC.SLTC.Business.Implement.PriorityRemarkService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDepositService" type="KMHC.SLTC.Business.Interface.IDepositService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DepositService" type="KMHC.SLTC.Business.Implement.DepositService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IMonitorItemService" type="KMHC.SLTC.Business.Interface.IMonitorItemService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="MonitorItemService" type="KMHC.SLTC.Business.Implement.MonitorItemService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IMonitorResultService" type="KMHC.SLTC.Business.Interface.IMonitorResultService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="MonitorResultService" type="KMHC.SLTC.Business.Implement.MonitorResultService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IMonitorTemplateService" type="KMHC.SLTC.Business.Interface.IMonitorTemplateService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="MonitorTemplateService" type="KMHC.SLTC.Business.Implement.MonitorTemplateService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IPaymentService" type="KMHC.SLTC.Business.Interface.IPaymentService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PaymentService" type="KMHC.SLTC.Business.Implement.PaymentService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IPersonService" type="KMHC.SLTC.Business.Interface.IPersonService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PersonService" type="KMHC.SLTC.Business.Implement.PersonService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResidentService" type="KMHC.SLTC.Business.Interface.IResidentService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResidentService" type="KMHC.SLTC.Business.Implement.ResidentService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResidentServicePlanService" type="KMHC.SLTC.Business.Interface.IResidentServicePlanService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResidentServicePlanService" type="KMHC.SLTC.Business.Implement.ResidentServicePlanService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IResidentServicePlanItemService" type="KMHC.SLTC.Business.Interface.IResidentServicePlanItemService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ResidentServicePlanItemService" type="KMHC.SLTC.Business.Implement.ResidentServicePlanItemService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ISerOrdSerItService" type="KMHC.SLTC.Business.Interface.ISerOrdSerItService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="SerOrdSerItService" type="KMHC.SLTC.Business.Implement.SerOrdSerItService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IFeeDetailService" type="KMHC.SLTC.Business.Interface.IFeeDetailService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="FeeDetailService" type="KMHC.SLTC.Business.Implement.FeeDetailService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IServiceGroupService" type="KMHC.SLTC.Business.Interface.IServiceGroupService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ServiceGroupService" type="KMHC.SLTC.Business.Implement.ServiceGroupService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IServiceItemService" type="KMHC.SLTC.Business.Interface.IServiceItemService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ServiceItemService" type="KMHC.SLTC.Business.Implement.ServiceItemService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IServiceItemCategoryService" type="KMHC.SLTC.Business.Interface.IServiceItemCategoryService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ServiceItemCategoryService" type="KMHC.SLTC.Business.Implement.ServiceItemCategoryService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IServiceOrderService" type="KMHC.SLTC.Business.Interface.IServiceOrderService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ServiceOrderService" type="KMHC.SLTC.Business.Implement.ServiceOrderService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="ITaskService" type="KMHC.SLTC.Business.Interface.ITaskService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="TaskService" type="KMHC.SLTC.Business.Implement.TaskService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IWatchRecordService" type="KMHC.SLTC.Business.Interface.IWatchRecordService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="WatchRecordService" type="KMHC.SLTC.Business.Implement.WatchRecordService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IAreaService" type="KMHC.SLTC.Business.Interface.IAreaService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="AreaService" type="KMHC.SLTC.Business.Implement.AreaService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IBedService" type="KMHC.SLTC.Business.Interface.IBedService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="BedService" type="KMHC.SLTC.Business.Implement.BedService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IEmployeeService" type="KMHC.SLTC.Business.Interface.IEmployeeService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="EmployeeService" type="KMHC.SLTC.Business.Implement.EmployeeService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IFloorService" type="KMHC.SLTC.Business.Interface.IFloorService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="FloorService" type="KMHC.SLTC.Business.Implement.FloorService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IGroupService" type="KMHC.SLTC.Business.Interface.IGroupService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="GroupService" type="KMHC.SLTC.Business.Implement.GroupService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IOrganizationService" type="KMHC.SLTC.Business.Interface.IOrganizationService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="OrganizationService" type="KMHC.SLTC.Business.Implement.OrganizationService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IRoomService" type="KMHC.SLTC.Business.Interface.IRoomService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RoomService" type="KMHC.SLTC.Business.Implement.RoomService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDictionaryService" type="KMHC.SLTC.Business.Interface.IDictionaryService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DictionaryService" type="KMHC.SLTC.Business.Implement.DictionaryService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IDictionaryItemService" type="KMHC.SLTC.Business.Interface.IDictionaryItemService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DictionaryItemService" type="KMHC.SLTC.Business.Implement.DictionaryItemService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IFunctionService" type="KMHC.SLTC.Business.Interface.IFunctionService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="FunctionService" type="KMHC.SLTC.Business.Implement.FunctionService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IRoleService" type="KMHC.SLTC.Business.Interface.IRoleService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RoleService" type="KMHC.SLTC.Business.Implement.RoleService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IUserService" type="KMHC.SLTC.Business.Interface.IUserService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="UserService" type="KMHC.SLTC.Business.Implement.UserService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IUserRelationService" type="KMHC.SLTC.Business.Interface.IUserRelationService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="UserRelationService" type="KMHC.SLTC.Business.Implement.UserRelationService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IVolunteerService" type="KMHC.SLTC.Business.Interface.IVolunteerService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="VolunteerService" type="KMHC.SLTC.Business.Implement.VolunteerService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IEvaluationService" type="KMHC.SLTC.Business.Interface.IEvaluationService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="EvaluationService" type="KMHC.SLTC.Business.Implement.EvaluationService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IGroupActivityCategoryEditService" type="KMHC.SLTC.Business.Interface.IGroupActivityCategoryEditService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="GroupActivityCategoryEditService" type="KMHC.SLTC.Business.Implement.GroupActivityCategoryEditService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IGroupActivityCategoryService" type="KMHC.SLTC.Business.Interface.IGroupActivityCategoryService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="GroupActivityCategoryService" type="KMHC.SLTC.Business.Implement.GroupActivityCategoryService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IBriefInfoService" type="KMHC.SLTC.Business.Interface.IBriefInfoService,KMHC.SLTC.Business.Interface"/>
    <typeAlias alias="BriefInfoService" type="KMHC.SLTC.Business.Implement.BriefInfoService,KMHC.SLTC.Business.Implement"/>
    <typeAlias alias="IReportManageService" type="KMHC.SLTC.Business.Interface.IReportManageService,KMHC.SLTC.Business.Interface"/>
    <typeAlias alias="ReportManageService" type="KMHC.SLTC.Business.Implement.ReportManageService,KMHC.SLTC.Business.Implement"/>
    <typeAlias alias="IOrderReportService" type="KMHC.SLTC.Business.Interface.Report.IOrderReportService,KMHC.SLTC.Business.Interface"/>
    <typeAlias alias="OrderReportService" type="KMHC.SLTC.Business.Implement.Report.OrderReportService,KMHC.SLTC.Business.Implement"/>
    <typeAlias alias="IEvaluationReportService" type="KMHC.SLTC.Business.Interface.Report.IEvaluationReportService,KMHC.SLTC.Business.Interface"/>
    <typeAlias alias="EvaluationReportService" type="KMHC.SLTC.Business.Implement.Report.EvaluationReportService,KMHC.SLTC.Business.Implement"/>
    
    <typeAlias alias="ISequenceService" type="KMHC.SLTC.Business.Interface.Sequence.ISequenceService,KMHC.SLTC.Business.Interface"/>
    <typeAlias alias="SequenceService" type="KMHC.SLTC.Business.Implement.Sequence.SequenceService,KMHC.SLTC.Business.Implement"/>
    <typeAlias alias="IDeptService" type="KMHC.SLTC.Business.Interface.IDeptService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="DeptService" type="KMHC.SLTC.Business.Implement.DeptService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IScreenSequenceService" type="KMHC.SLTC.Business.Interface.Sequence.IScreenSequenceService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ScreenSequenceService" type="KMHC.SLTC.Business.Implement.Screen.ScreenSequenceService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IServiceAppService" type="KMHC.SLTC.Business.Interface.IServiceAppService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ServiceAppService" type="KMHC.SLTC.Business.Implement.ServiceAppService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IAppStatisticsService" type="KMHC.SLTC.Business.Interface.Sequence.IAppStatisticsService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="AppStatisticsService" type="KMHC.SLTC.Business.Implement.Sequence.AppStatisticsService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IPaymentsService" type="KMHC.SLTC.Business.Interface.IPaymentsService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="PaymentsService" type="KMHC.SLTC.Business.Implement.PaymentsService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IRefundService" type="KMHC.SLTC.Business.Interface.IRefundService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="RefundService" type="KMHC.SLTC.Business.Implement.RefundService, KMHC.SLTC.Business.Implement" />
	<typeAlias alias="IReportTempManageService" type="KMHC.SLTC.Business.Interface.IReportTempManageService, KMHC.SLTC.Business.Interface" />
	<typeAlias alias="ReportTempManageService" type="KMHC.SLTC.Business.Implement.ReportTempManageService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IComOrderService" type="KMHC.SLTC.Business.Interface.IComOrderService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ComOrderService" type="KMHC.SLTC.Business.Implement.ComOrderService, KMHC.SLTC.Business.Implement" />
    <typeAlias alias="IBaiduTTSService" type="KMHC.SLTC.Business.Interface.baiduTTS.IBaiduTTSService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="BaiduTTSService" type="KMHC.SLTC.Business.Implement.baiduTTS.BaiduTTSService, KMHC.SLTC.Business.Implement" />
  </typeAliases>
  
  <container>
    <extension type="Interception" />
    <register type="IUnitOfWork" mapTo="UnitOfWork" />
    <register type="IAuthenticationService" mapTo="FormsAuthenticationService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IActivityNewService" mapTo="ActivityNewService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IResidentAddressService" mapTo="ResidentAddressService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IBillService" mapTo="BillService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IChargeItemService" mapTo="ChargeItemService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="ICommodityItemService" mapTo="CommodityItemService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IChartService" mapTo="ChartService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="ICodeRuleService" mapTo="CodeRuleService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="ICommodityTypeService" mapTo="CommodityTypeService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IContractService" mapTo="ContractService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IHabitService" mapTo="HabitService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IPriorityRemarkService" mapTo="PriorityRemarkService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IDeviceService" mapTo="DeviceService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="ICallInfoService" mapTo="CallInfoService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IFamilyService" mapTo="FamilyService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IDepositService" mapTo="DepositService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IMonitorItemService" mapTo="MonitorItemService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IMonitorResultService" mapTo="MonitorResultService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IMonitorTemplateService" mapTo="MonitorTemplateService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IPaymentService" mapTo="PaymentService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IPersonService" mapTo="PersonService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IResidentService" mapTo="ResidentService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IResidentServicePlanService" mapTo="ResidentServicePlanService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IResidentServicePlanItemService" mapTo="ResidentServicePlanItemService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="ISerOrdSerItService" mapTo="SerOrdSerItService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IFeeDetailService" mapTo="FeeDetailService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IServiceGroupService" mapTo="ServiceGroupService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IServiceItemService" mapTo="ServiceItemService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IServiceItemCategoryService" mapTo="ServiceItemCategoryService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IServiceOrderService" mapTo="ServiceOrderService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="ITaskService" mapTo="TaskService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IWatchRecordService" mapTo="WatchRecordService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IActivityService" mapTo="ActivityService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IAreaService" mapTo="AreaService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IBedService" mapTo="BedService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IEmployeeService" mapTo="EmployeeService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IFloorService" mapTo="FloorService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IGroupService" mapTo="GroupService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IOrganizationService" mapTo="OrganizationService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IRoomService" mapTo="RoomService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IDictionaryService" mapTo="DictionaryService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IDictionaryItemService" mapTo="DictionaryItemService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IFunctionService" mapTo="FunctionService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IRoleService" mapTo="RoleService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IUserService" mapTo="UserService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IUserRelationService" mapTo="UserRelationService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IVolunteerService" mapTo="VolunteerService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IEvaluationService" mapTo="EvaluationService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IGroupActivityCategoryEditService" mapTo="GroupActivityCategoryEditService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IGroupActivityCategoryService" mapTo="GroupActivityCategoryService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IBriefInfoService" mapTo="BriefInfoService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IReportManageService" mapTo="ReportManageService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IOrderReportService" mapTo="OrderReportService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IEvaluationReportService" mapTo="EvaluationReportService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="ISequenceService" mapTo="SequenceService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IDeptService" mapTo="DeptService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IScreenSequenceService" mapTo="ScreenSequenceService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IServiceAppService" mapTo="ServiceAppService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>  
    <register type="IPaymentsService" mapTo="PaymentsService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IRefundService" mapTo="RefundService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IComOrderService" mapTo="ComOrderService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IBaiduTTSService" mapTo="BaiduTTSService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IReportTempManageService" mapTo="ReportTempManageService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
    <register type="IAppStatisticsService" mapTo="AppStatisticsService">
      <interceptor type="InterfaceInterceptor"/>
      <interceptionBehavior type="KMHC.SLTC.Business.Interceptor.ExceptionLogBehavior, KMHC.SLTC.Business.Interceptor"/>
    </register>
  </container>
</unity>
