<div class="row">
    <div class="col-sm-12">
        <input-resident callback="afterSelected(item)" value="{{currentResident.PersonName}}" />
    </div>
</div>
<div class="row resident-card">
    <div id="cardImgArea" class="col-sm-12" style="display:none">
        <div class="filter-content">
            <img alt="" class="img-responsive img-fluid" src="{{currentResident.ImgUrl}}">
        </div>
    </div>
    <div id="cardInfoArea" class="col-sm-12">
        <div class="form-group">
            <label class="control-label col-sm-12">编号:{{currentResident.ResidentNo}}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-12">姓名:{{currentResident.PersonName}}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-12">性别:{{currentResident.Sex.replace("1","男").replace("2","女")}}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-12">年齡:{{currentResident.Birthdate | ageFormat}}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-12">本期消费:{{currentResident.TotalConSpeMonth | currency:"¥"}}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-12">期初余额:{{currentResident.Amount| currency:"¥"}}</label>
        </div>
    </div>
</div>

