<!-- 流程图1 -->
<div class="col-md-12" style="margin-bottom: 5px;">
    <hover-popup class="pull-left" style="margin-right: 20px;">
        <div class="btn-popup">流程图1</div>
        <div class="popup-div">
            <div class="chart1">
                <a href="#" class="resident">
                    <img src="../../Content/CloudAdmin/img/chart/resident.png">
                    居民档案
                </a>
                <a href="#" class="warnset">
                    <img src="Content/CloudAdmin/img/chart/warnset.png">
                    警告设置
                </a>
                <a href="#" class="health">
                    <img src="Content/CloudAdmin/img/chart/health.png">
                    健康评估
                </a>
                <a href="#" class="result">
                    <img src="Content/CloudAdmin/img/chart/result.png">
                    检查结果
                </a>
                <a href="#" class="warn">
                    <img src="Content/CloudAdmin/img/chart/warn.png">
                    警告待办
                </a>
                <a href="#" class="result-classify">
                    <img src="Content/CloudAdmin/img/chart/resultclassify.png">
                    结果分类
                </a>
                <a href="#" class="danger-check">
                    <img src="Content/CloudAdmin/img/chart/dangercheck.png">
                    危重筛查
                </a>
                <a href="#" class="danger-change">
                    <img src="Content/CloudAdmin/img/chart/change.png">
                    危重转诊
                </a>
                <a href="#" class="normal">
                    <img src="Content/CloudAdmin/img/chart/normal.png">
                    正常人群
                </a>
                <a href="#" class="illness">
                    <img src="Content/CloudAdmin/img/chart/illness.png">
                    慢病人群
                </a>
                <a href="#" class="high-risk">
                    <img src="Content/CloudAdmin/img/chart/highrisk.png">
                    高风险人群
                </a>
                <a href="#" class="plan">
                    <img src="Content/CloudAdmin/img/chart/plan.png">
                    干预计划
                </a>
                <a href="#" class="feedback">
                    <img src="Content/CloudAdmin/img/chart/feedback.png">
                    实施反馈
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>
    </hover-popup>
    <!-- 流程图1 END -->

    <!-- 流程图2-->
    <hover-popup class="pull-left">
        <div class="btn-popup">流程图2</div>
        <div class="popup-div">
            <div class="chart2">
                <a href="#" class="resident">
                    <img src="../../Content/CloudAdmin/img/chart/resident.png">
                    居民档案
                </a>
                <a href="#" class="warnset">
                    <img src="../../Content/CloudAdmin/img/chart/warnset.png">
                    警告设置
                </a>
                <a href="#" class="health">
                    <img src="../../Content/CloudAdmin/img/chart/health.png">
                    健康评估
                </a>
                <a href="#" class="result">
                    <img src="../../Content/CloudAdmin/img/chart/result.png">
                    检查结果
                </a>
                <a href="#" class="warn">
                    <img src="../../Content/CloudAdmin/img/chart/warn.png">
                    警告待办
                </a>
                <a href="#" class="result-classify">
                    <img src="../../Content/CloudAdmin/img/chart/resultclassify.png">
                    结果分类
                </a>
                <a href="#" class="danger-check">
                    <img src="../../Content/CloudAdmin/img/chart/dangercheck.png">
                    危重筛查
                </a>
                <a href="#" class="danger-change">
                    <img src="../../Content/CloudAdmin/img/chart/change.png">
                    危重转诊
                </a>
                <a href="#" class="normal">
                    <img src="../../Content/CloudAdmin/img/chart/normal.png">
                    正常人群
                </a>
                <a href="#" class="illness">
                    <img src="../../Content/CloudAdmin/img/chart/illness.png">
                    慢病人群
                </a>
                <a href="#" class="high-risk">
                    <img src="../../Content/CloudAdmin/img/chart/highrisk.png">
                    高风险人群
                </a>
                <a href="#" class="plan">
                    <img src="../../Content/CloudAdmin/img/chart/plan.png">
                    干预计划
                </a>
                <a href="#" class="feedback">
                    <img src="../../Content/CloudAdmin/img/chart/feedback.png">
                    实施反馈
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>
    </hover-popup>
</div>
<!-- 流程图2 END -->