
<div class="row">
    <div class="col-md-2">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bars"></i>会员信息
                </div>
            </div>
            <div class="portlet-body">
                <resident-select callback="residentSelected(resident)" />
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>预约管理
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" style="padding:10px 15px">
                    <table style="width:100%;text-align:left;vertical-align:middle">
                        <tr>
                            <td style="width:20%">
                                <input name="ServiceDate" ng-model="options.params['Data.ServiceDate']" ng-change="Search()" class="form-control" ca-date-picker placeholder="请选择预约日期" />
                            </td>
                            <td style="width:1%">
                            </td>
                            <td style="width:20%">
                                <input type="checkbox" ng-model="IsOnlyShowWait" ng-change="Search()" checked name="IsOnlyShowWait" />仅显示待处理的预约
                            </td>
                            <td style="text-align:left">
                                <span class="input-group-btn">
                                    <a class="btn red" ng-click="PreOrderEdit()"><i class="fa fa-plus"></i> 新增预约</a>
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <ui-data-table options="options">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>用户姓名</th>
                                <th>服务时段时段</th>
                                <th>服务模式</th>
                                <th>预约人</th>
                                <th>预约时间</th>
                                <th>预约人电话</th>
                                <th>状态</th>
                                <th ><i class="fa fa-bars"></i> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Appointments">
                                <td>{{$index + 1}}</td>
                                <td>{{item.PersonName}}</td>
                                <td>{{item.ServiceDate | dateFormat}}&nbsp;{{item.PNCID?item.PNC:""}}</td>
                                <td><span select-code="Q00.012" select-value="{{item.ServiceType}}"></span></td>
                                <td>{{item.AppBy}}</td>
                                <td>{{item.AppTime | timeFormat}}</td>
                                <td>{{item.AppPhone}}</td>
                                <td>
                                    <span select-code="Q00.014" select-value="{{item.Status}}"></span>
                                </td>
                                <td style="text-align:left;width:220px">
                                    <div class="btn-group btn-group-xs" role="group" ng-show="item.Status=='Wait'" aria-label="...">
                                        <a ng-click="PreOrderEdit(item)" class="btn blue" role="button"><i class="fa fa-pencil"></i>编辑</a>
                                        <a  ng-click="GenOrder(item)" class="btn green" role="button"><i class="fa fa-arrow-right"></i>生成订单</a>
                                        <a class="btn red" role="button" data-toggle="modal" ng-click="CancelApp(item.ServiceAppID)"><i class="fa fa-times"></i>取消</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ui-data-table>
            </div>
        </div>
    </div>
</div>

<!-- 工单派发Modal -->
<div class="modal fade" id="modalPreOrderEdit" tabindex="-1" role="dialog" aria-labelledby="modalCarryOutLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="width:70%; z-index: 90;">
        <div ng-include="'/WebScripts/views/GuestService/PreOrderEdit.html'"></div>
    </div>
</div>

<!-- 服务项目Modal -->
<div class="modal fade" id="modalServiceItem" tabindex="-1" role="dialog" style="z-index: 99900" aria-labelledby="modalServiceItemLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="width: 50%; ">
        <div ng-include="'/WebScripts/views/Service/ServiceItemModal.html'"></div>
    </div>
</div>

<!-- 服务项目Modal -->
<div class="modal fade" id="modalComOrderEdit" tabindex="-1" role="dialog" aria-labelledby="modalComOrderEditLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="width: 60%; z-index: 106;">
        <div ng-include="'/WebScripts/views/GuestService/ComOrderEdit.html'"></div>
    </div>
</div>
