<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <typeAliases>
    <typeAlias alias="IUnitOfWork" type="KMHC.SLTC.Repository.Base.IUnitOfWork, KMHC.SLTC.Repository" />
    <typeAlias alias="UnitOfWork" type="KMHC.SLTC.Repository.Base.UnitOfWork, KMHC.SLTC.Repository" />
    <typeAlias alias="IReportManageService" type="KMHC.SLTC.Business.Interface.IReportManageService, KMHC.SLTC.Business.Interface" />
    <typeAlias alias="ReportManageService" type="KMHC.SLTC.Business.Implement.ReportManageService, KMHC.SLTC.Business.Implement" />
  </typeAliases>
  <container>
    <extension type="Interception" />
    <register type="IUnitOfWork" mapTo="UnitOfWork" />
    <register type="IReportManageService" mapTo="ReportManageService" />
  </container>
</unity>
