<link rel="stylesheet" type="text/css" href="/WebScripts/components/cityNewSelect/city-picker.css" />
<script src="/WebScripts/components/cityNewSelect/city-picker.data.js"></script>
<script src="/WebScripts/components/cityNewSelect/city-picker.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bars"></i>集团信息
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal w5c-form" w5c-form-validate name="groupeditform" novalidate>

                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-2 control-label">编号<span class="required">*</span></label>
                        <div class="col-md-4">
                            <input id="GroupNo" name="GroupNo" type="text" class="form-control" ng-model="Group.GroupNo" ng-maxlength="20" placeholder="请输入集团编号" ng-disabled="Group.id" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-2 control-label">名称<span class="required">*</span></label>
                        <div class="col-md-4">
                            <input id="GroupName" name="GroupName" type="text" class="form-control" ng-model="Group.GroupName" ng-maxlength="100" placeholder="请输入集团名称" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-2 control-label">地址</label>
                        <div class="col-md-4">
                            <div style="position: relative;">
                                <input id="myAddress1" class="form-control" style="width:100%" ng-model="AddressDetail" readonly type="text" data-toggle="city-picker">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit" ng-disabled="groupeditform.$invalid" ng-click="save()">保存</button>
                        <button class="btn btn-grey" ui-sref="GroupList">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
