<div class="row">
    <div id="content" class="col-lg-12">

        <!--标题-->
        <div class="row">
            <div class="col-lg-3">
                
                <div class="panel panel-default">
                    <div class="panel-heading">会员信息</div>
                    <div class="panel-body">
                        <resident-select callback="residentSelected(resident)" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="page-header">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">首页</a>
                        </li>
                        <li class="active">评估记录</li>
                    </ul>
                    <div class="clearfix">
                        <h3 class="content-title pull-left">评估记录</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--标题-->
    </div>

</div>
