
<style>
    .table1 {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        margin-bottom: 14px;
        border-collapse: collapse;
        width: 99%;
        font-size: 17px;
        font-weight: 600;
        font-family: DFKai-SB;
    }

        .table1 td {
            border-top: 1px solid black;
            border-right: 1px solid black;
            line-height: 26px;
            padding: 0 3px 0 5px;
        }

    td input {
        border: none;
        margin-top: 2px;
        width: 100%;
        font-size: 16px;
    }

    td textarea {
        width: 100%;
        border: none;
        font-size: 17px;
        font-weight: 600;
        font-family: DFKai-SB;
    }

    td.label {
        background: #f1f1f1;
        color: #666;
        font-weight: 700;
    }

    .classTableNo2 {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        margin-bottom: 14px;
        border-collapse: collapse;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        font-family: DFKai-SB;
        border: none;
    }

        .classTableNo2 td {
            border-top: 1px solid black;
            border-right: 1px solid black;
            line-height: 26px;
            padding: 0 3px 0 5px;
            border: none;
            border-top: none;
            border-left: none;
            border-bottom: none;
        }
</style>
<div class="row">
    <div id="content" class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <resident-list feeno={{FeeNo}} callback="residentSelected(resident)" />
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="content_container searchsum_hits">
                            <div class="content">
                                <div class="btn toolbar">
                                    <button class="btn btn-primary" ng-disabled="buttonShow" ng-click="saveForm(Multiteam)"><i class="fa fa-save"></i> 儲存資料</button>
                                    <button class="btn btn-info" ng-disabled="buttonShow"><i class="fa fa-print"></i> 打印預覽</button>
                                    <button class="btn btn-danger" ng-disabled="buttonShow" ng-click="showhistroy()"><i class="fa fa-list"></i> 歷次資料</button>
                                    <!--<button class="btn btn-info" ng-disabled="buttonShow" ng-click="week()"><i class="fa fa-print"></i> 本周</button>
                                    <button class="btn btn-danger" ng-disabled="buttonShow" ng-click="lastweek()"><i class="fa fa-list"></i> 上周</button>
                                    <button class="btn btn-primary" ng-disabled="buttonShow" ng-click="nextweek()"><i class="fa fa-list"></i> 下周</button>-->
                              
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <div style=" margin-bottom:10px">
                        <div id="headOne" style="text-align:center;">
                            <h2><strong>(服務單位全銜)老人日間照顧中心</strong></h2>
                        </div>
                        <div id="headTwo" style="text-align:center;">
                            <h3><strong>跨專業團隊服務計劃表</strong></h3>
                        </div>
                        <div id="headThree" style="margin-top:10px;">
                            <span style="font-weight:bolder;font-size:18px">
                                長輩姓名：
                                <input type="text" style="border-left-style:none;border-top-style:none;border-right-style:none;border-bottom-style:solid" />
                            </span>
                            <span style="font-weight:bolder;font-size:18px">
                                照服員：
                                <input type="text" style="border-left-style:none;border-top-style:none;border-right-style:none;border-bottom-style:solid" ng-model="NURSEAIDES" />
                            </span>
                            <span style="font-weight:bolder;font-size:18px">
                               照顧計劃日期：
  
                                <input type="text" style="border-left-style:none;border-top-style:none;border-right-style:none;border-bottom-style:solid" ng-model="EVALDATE" ca-date-picker />
                            </span>
                        </div>
                    </div>

                    <form class="form-horizontal" role="form" name="lifeRecForm">
                        <table class="table1">
                            <tr style="background-color:lightgray; text-align:center">
                                <td width="20%" height="40px">專業人員</td>
                                <td width="40%">處遇(照顧)類型</td>
                                <td width="40%">處遇(照顧)計劃</td>
                            
                            </tr>

                            <tr ng-repeat="cur in MajType">
                                <td style="text-align:center">{{cur.text}}</td>
                                <td><textarea ng-model="Multiteam[cur.value].QUESTIONTYPE" rows="5"></textarea></td>
                                <td><textarea ng-model="Multiteam[cur.value].ACTIVITY" rows="5"></textarea></td>
                            </tr>
                           
                          
                        </table>
                        <div>
                            <table class="classTableNo2">
                                <tr>
                                    <td>
                                        個案管理師：
                                    </td>
                                    <td>
                                        主任/督導：
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="modalBedLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="width:80%;">
        <div class="modal-content modal-lg">
            <div class="modal-header bg-success">
                <button type="button" id="chargeClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!--<div ng-include="'/Views/Socialworker/AddProposalDisscuss.html'"></div>-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box border green">
                            <div class="box-title">
                                <h4>日常生活照顧歷史記錄</h4>
                            </div>
                            <div class="box-body">
                                <!--<ui-data-table options="options">-->
                                <table class="table table-bordered" id="editTable">
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>照服員</th>
                                            <th>录入时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in HistoryList">
                                            <td>{{Name}}</td>
                                            <td>{{list.NURSEAIDES}}</td>
                                            <td>{{list.CREATEDATE|date:'yyyy-MM-dd'}}</td>
                                            <td>
                                                <button class="btn btn-primary" ng-click="editDayLife(list.SEQNO)">编辑</button>
                                                <a class="btn btn-danger" role="button" data-toggle="modal" ng-click="deleteReferral(list.SEQNO)">删除</a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <!--</ui-data-table>-->
                                <div id="pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>