
<div class="row">
    <div class="col-sm-9">
        <!-- BOX -->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i>SOS监控
                </div>

                <div class="tools">
                    <a href="" class="fullscreen">
                    </a>
                </div>

            </div>
            <div class="portlet-body">
                <!-- 图表1 -->
                <div id="sosLocation" class="chart" style="height: 750px"></div>
                <!-- 图表2 -->
            </div>
        </div>
        <!-- /BOX -->
    </div>
    <div class="col-md-3" style="height: 750px;">
        <div class="form-group">
            <div class="input-group col-md-12">
                <input type="text" class="form-control" id="Keyword" ng-model="options.params['name']" ng-keyup="enterEvent($event,key)" placeholder=" 请输入会员姓名">
                <span class="input-group-btn">
                    <a class="btn blue" ng-click="searchSosData()"><i class="fa fa-search"></i>查询</a>
                </span>
            </div>
        </div>
        <ui-map-table options="options">
            <table class="table table-striped table-bordered table-hover table-handler">
                <thead>
                <tr>
                    <th>
                        <div class="row clearfix">
                            <div class="col-md-3 column ng-binding">姓名</div>
                            <div class="col-md-5 column ng-binding">联系方式</div>
                            <div class="col-md-4 column"> 时间</div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in sosDatas">
                        <td>
                            <a html="#" class="" ng-click="sosDataClick(item)">
                                <div class="row clearfix">
                                    <div class="col-md-3 column ng-binding">{{item.Name}}</div>
                                    <div class="col-md-5 column ng-binding"> {{item.Phone}}</div>
                                    <div class="col-md-4 column ng-binding">{{GetUtcTime(item.EmgDate)}} </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ui-map-table>
    </div>
</div>
<script src="/Content/echarts/echarts.min.js"></script>



