
<div class="row">
    <div class="col-md-12">
        <div class="box border green">
            <div class="box-title">
                <h4><i class="fa fa-bars"></i>会员信息</h4>
            </div>
            <div class="box-body big">
                <form class="form-horizontal" id="ResidentEdit" role="form" name="regreseditform" ng-submit="saveResident()" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="resident.PersonName" readonly="readonly">
                            <span class="error-span"></span>
                        </div>
                        <label class="col-sm-1 control-label">性別</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="txtSex" ng-model="person.Sex" select-code="A00.001" ng-disabled="true"></select>
                        </div>
                        <label class="col-sm-1 control-label">身份证</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-maxlength="18" name="Idcard" ng-model="person.Idcard" readonly="readonly">
                            <span class="error-span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">会员服务起始日期</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="resident.CheckinDate" ca-date-picker>
                        </div>
                        <!--<label class="col-sm-1 control-label">套餐选择</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="resident.ServicePlan" ng-options="item.id as item.SGName for item in chargeGroups" ng-disabled="true" required></select>
                        </div>-->
                        <label class="col-sm-1 control-label">护理员</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="resident.Carer" ng-options="item.EmpNo as item.EmpName+'('+item.EmpNo+')' for item in CarerData" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">合同[附件]</label>
                        <div class="col-sm-3">
                            <input class="form-control" ng-click="chooseFile()" type="text" ng-model="resident.Contract" readonly="readonly" />
                            <input style="display: none;" onchange=" residentSelectFile('#ResidentEdit') " class="form-control" type="file" id="Contract">
                        </div>
                        <label class="col-sm-1 control-label">会员类型</label>
                        <div class="col-sm-3">
                            <select class="form-control" select-code="J00.010" ng-model="resident.ResidentType" required></select>
                        </div>
                        <label ng-if="resident.ResidentType==2" class="col-sm-1 control-label">老人地址</label>
                        <div ng-if="resident.ResidentType==2" class="col-sm-3">
                            <input class="form-control" type="text" ng-model="resident.PersonAddr" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">所属机构<span class="required">*</span></label>
                        <div class="col-sm-3">
                            <select name="GroupId" class="form-control" ng-model="resident.ResidentOrg" ng-options="t.OrgNo as t.OrgName for t in Orgs" required></select>
                        </div>
                        <label class="col-sm-1 control-label">所属区域</label>
                        <div class="col-sm-3">
                            <select name="AreaNo" class="form-control" ng-model="resident.ResidentArea" ng-options="t.AreaNo as t.AreaName for t in Areas | filter:{OrgNo:currentItem.ResidentOrg}:true" required></select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="resident.ResidentType!=2">
                        <div class="col-sm-5 col-sm-offset-1">
                            <button class="btn btn-info col-sm-5" ng-click="chooseBed()" data-toggle="modal" data-target="#modalBed">安排床位</button>
                        </div>
                    </div>
                    <div class="form-group" ng-if="resident.ResidentType!=2">
                        <label class="col-sm-1 control-label">房间号</label>
                        <div class="col-sm-3">
                            <input ng-model="resident.RoomNo" class="form-control" type="text" readonly="readonly" required>
                        </div>
                        <label class="col-sm-1 control-label">床号</label>
                        <div class="col-sm-3">
                            <input ng-model="resident.BedNo" class="form-control" type="text" readonly="readonly" required>
                        </div>
                        <label class="col-sm-1 control-label">床位名称</label>
                        <div class="col-sm-3">
                            <input ng-model="resident.BedName" class="form-control" type="text" readonly="readonly" required>
                        </div>
                    </div>
                    <div class="form-group" ng-if="resident.ResidentType!=2">
                        <label class="col-sm-1 control-label">床位类别</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="resident.Category" select-code="J00.003" readonly="readonly"></select>
                        </div>
                        <label class="col-sm-1 control-label">床位类型</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="resident.BedType" select-code="J00.004" readonly="readonly"></select>
                            <select class="form-control" ng-model="state" select-code="A00.080" style="display: none"></select>
                        </div>
                    </div>

                    <div class="form-group">

                    </div>
                    <div class="form-group center">
                        <button class="btn btn-success btn-lg" type="submit" ng-disabled="regreseditform.$invalid">保存</button>
                        <button class="btn btn-grey btn-lg" ui-sref="ServiceResidentList">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- 住民Modal -->
<div class="modal fade" id="modalBed" tabindex="-1" role="dialog" aria-labelledby="modalBedLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document">
        <div style="width:850px" class="modal-content modal-lg">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalBedLabel">床位信息</h4>
            </div>
            <div class="modal-body">
                <div ng-include="'/WebScripts/views/OrganizationManage/BedModal.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>