<div style="width:900px;" class="modal-content modal-lg">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bars"></i>选择地址
            </div>
            <div class="tools">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
        <div class="portlet-body" style="padding:10px 25px 0 25px">
            <div ng-include="'/WebScripts/views/UserManage/AddressList.html'"></div>
        </div>
    </div>
</div>