<style>

    .item {
        padding: 10px 20px 0;
        min-width: 405px;
    }

        .item div[class="row"] {
            padding: 13px 0 0 13px;
            min-width: 257px;
            min-height: 140px;
        }

    #cardImgArea {
        max-height: 112px;
        max-width: 99px;
        height: 100%;
        padding: 0;
        cursor: pointer;
    }
        #cardImgArea img {
            height: 99px;
        }

</style>
<div class="row">
    <div class="portlet light" style=" box-shadow:none">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-drop font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">日常量测</span>
            </div>
        </div>
        <div class="portlet-body" ng-controller="residentStatusCtrl">
            <div id="filter-items" class="row isotope mgl10 mgr10">
                <div class="col-xs-12 col-sm-2 design item ">
                    <div class="row">
                        <div id="cardImgArea" class="col-lg-6">
                            <img alt="" src='/Images/bloodpress.png' ng-click="showBloodPressDetail()">

                            <div style="margin-top:10px" ng-click="showBloodPressDetail()" class="text-center font-blue">查看历史记录</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="ng-binding" style="margin-top:0px;margin-bottom:2px;">血压</h3>
                            <div style="width:120px;height:1px;margin:2px;padding:0px;background-color:#0094ff;overflow:hidden;"></div>
                            <p ng-if="MeasureRecord.SP.length>=3" style="min-width:134px; margin:0px;">
                                <span ng-class="{true:'',false:'font-red'}[MeasureRecord.SP[0].Status && MeasureRecord.DP[0].Status]" class="ng-isolate-scope">{{MeasureRecord.SP[2].Time}}&nbsp;&nbsp;&nbsp;&nbsp;{{MeasureRecord.SP[2].Value}}/{{MeasureRecord.DP[2].Value}}</span>
                            </p>
                            <p ng-if="MeasureRecord.SP.length>=2" style="min-width:134px; margin:0px;">
                                <span ng-class="{true:'',false:'font-red'}[MeasureRecord.SP[0].Status && MeasureRecord.DP[0].Status]" class="ng-isolate-scope">{{MeasureRecord.SP[1].Time}}&nbsp;&nbsp;&nbsp;&nbsp;{{MeasureRecord.SP[1].Value}}/{{MeasureRecord.DP[1].Value}}</span>
                            </p>
                            <p ng-if="MeasureRecord.SP.length>=1" style="min-width:134px; margin:0px;">
                                <span ng-class="{true:'',false:'font-red'}[MeasureRecord.SP[0].Status && MeasureRecord.DP[0].Status]" class="ng-isolate-scope">{{MeasureRecord.SP[0].Time}}&nbsp;&nbsp;&nbsp;&nbsp;{{MeasureRecord.SP[0].Value}}/{{MeasureRecord.DP[0].Value}}</span>
                            </p>
                            <p ng-if="MeasureRecord.SP.length==0" style="min-width:134px; margin:0px;">
                                <span class="ng-isolate-scope">无记录</span>
                            </p>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-xs-12 col-sm-2 design item ">
                    <div class="row">
                        <div id="cardImgArea" class="col-lg-6">
                            <img alt="" src='/Images/bloodsugar.png' ng-click="showBloodSugarDetail()">
                            <div style="margin-top:10px" class="text-center font-blue" ng-click="showBloodSugarDetail()">查看历史记录</div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="ng-binding" style="margin-top:0px;margin-bottom:2px;">血糖</h3>
                            <div style="width:120px;height:1px;margin:2px;padding:0px;background-color:#0094ff;overflow:hidden;"></div>
                            <p ng-if="MeasureRecord.GLU.length>=3" style="min-width:134px; margin:0px;">
                                <span ng-class="{true:'',false:'font-red'}[MeasureRecord.GLU[0].Status]" class="ng-isolate-scope">{{MeasureRecord.GLU[2].Time}}&nbsp;&nbsp;&nbsp;&nbsp;{{MeasureRecord.GLU[2].Value}}</span>
                            </p>
                            <p ng-if="MeasureRecord.GLU.length>=2" style="min-width:134px; margin:0px;">
                                <span ng-class="{true:'',false:'font-red'}[MeasureRecord.GLU[0].Status]" class="ng-isolate-scope">{{MeasureRecord.GLU[1].Time}}&nbsp;&nbsp;&nbsp;&nbsp;{{MeasureRecord.GLU[1].Value}}</span>
                            </p>
                            <p ng-if="MeasureRecord.GLU.length>=1" style="min-width:134px; margin:0px;">
                                <span ng-class="{true:'',false:'font-red'}[MeasureRecord.GLU[0].Status]" class="ng-isolate-scope">{{MeasureRecord.GLU[0].Time}}&nbsp;&nbsp;&nbsp;&nbsp;{{MeasureRecord.GLU[0].Value}}</span>
                            </p>
                            <p ng-if="MeasureRecord.GLU.length==0" style="min-width:134px; margin:0px;">
                                <span class="ng-isolate-scope">无记录</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="portlet light " style="box-shadow:none">
        <div class=" portlet-title">
        <div class="caption">
            <i class="icon-heart font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">体检档案</span>
        </div>
    </div>
        <div class="portlet-body" ng-controller="healthCtrl">
            <ui-data-table options="options">
                <table class="table table-striped table-bordered table-hover table-handler">
                    <thead>
                        <tr class="info">
                            <th class="col-md-2">体检类型</th>
                            <th class="col-md-2">体检报告编号</th>
                            <th class="col-md-1">体检医生</th>
                            <th class="col-md-2">体检时间</th>
                            <th class="col-md-2">健康状态</th>
                            <th class="col-md-1"><i class="fa fa-bars"></i>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in RecordList">
                            <td>健康工作站</td>
                            <td>{{item.ExamNo}}</td>
                            <td>{{item.Doctor}}</td>
                            <td>{{showDatetime(item.ExamDate)}}</td>
                            <th>{{item.HealthStatus}}</th>
                            <td>
                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    <a ng-click="popupResult(item)" class="btn blue" role="button"><i class="fa fa-search"></i>结果查看</a>
                                    <a ng-click="popupSuggest(item)" class="btn green" role="button"><i class="fa fa-stethoscope"></i> 健康建议</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ui-data-table>
        </div>
    </div>
 </div>

<div class="modal fade" id="modalResult" tabindex="-1" role="dialog" aria-labelledby="modalServiceItemLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="z-index: 90;">
        <div ng-include="'/WebScripts/views/UserManage/ExamineResult.html'"></div>
    </div>
</div>

<div class="modal fade" id="modalSuggest" tabindex="-1" role="dialog" aria-labelledby="modalServiceItemLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="z-index: 90;">
        <div ng-include="'/WebScripts/views/UserManage/ExamineSuggest.html'"></div>
    </div>
</div>


<div class="modal fade" id="modalBloodPress" tabindex="-1" role="dialog" aria-labelledby="modalServiceItemLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="z-index: 90;">
        <div ng-include="'/WebScripts/views/Resident/BloodPressDetail.html'"></div>
    </div>
</div>


<div class="modal fade" id="modalBloodSugar" tabindex="-1" role="dialog" aria-labelledby="modalServiceItemLabel" data-target=".bs-example-modal-lg">
    <div class="modal-dialog bs-example-modal-lg" role="document" style="z-index: 90;">
        <div ng-include="'/WebScripts/views/Resident/BloodSugarDetail.html'"></div>
    </div>
</div>
<input type="hidden" id="CurrentExamId">