
<div class="row">
    <div class="col-md-12">
        <div class="box border green">
            <div class="box-title">
                <h4><i class="fa fa-table"></i>{{residents.PersonName}} </h4>
                <div class="tools">
                    <a href="javascript:;" class="reload" ng-click="reload()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </div>

            <div class="box-body clear-fix">
                <div id="filter-items" class="row isotope">
                    <div class="col-md-12">
                        <div id="bloodpressure" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="col-md-12">
                        <div id="bloodsugar" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="col-md-12">
                        <div id="heartRate" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
